
@{
    ViewBag.Title = "FinalQuote";
}

<h2>FinalQuote</h2>

<form submit="/Add" method="post">
    <input name="firstName" />
    <input name="lastName" />
    <button type="submit">Get Quote</button>
</form>

